includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    level: max
    paths:
        - app/
        - public/
        - src/
        - tests/
    excludePaths:
        analyse:
            - app/views/cache